@page "/directors"

@inject DirectorService DirectorService
@inject NavigationManager NavigationManager

<PageTitle>Directors</PageTitle>

@if (directors == null)
{
    <span class="material-symbols-outlined">
        sync
    </span>
}

else
{
    @if (directors.Count == 0)
    {
        <p><em>"Wystąpił błąd"</em></p>
    }
    <div class="container">
        <div class="actions">
            <div class="search">
                <InputText @bind-Value=searchTerm></InputText>
                <button class="btn btn-primary" @onclick=Search>
                    <span class="material-symbols-outlined">
                        search
                    </span>
                </button>
            </div>
            <button class="btn btn-primary" disabled="@(currentPage==1)" @onclick="PreviousPage">
                <span class="material-symbols-outlined">
                    arrow_back
                </span>
            </button>
            <span style="color:blue">@currentPage</span>
            <button class="btn btn-primary" disabled="@(currentPage==totalPages)" @onclick="NextPage">
                <span class="material-symbols-outlined">
                    arrow_forward
                </span>
            </button>
        </div>
        
        @foreach (var director in directors)
        {
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Name: @director.name</h5>
                    <p class="card-text">Nationality: @director.nationality</p>
                    <p class="card-text">Age: @director.age</p>
                    <p class="card-text">Id: @director.id</p>
                </div>
            </div>
        }
    </div>
    

    
}



@code {
    private List<Shared.Models.Director> directors;
    private string message = "Loading directors...";

    private int currentPage = 1;
    private int totalPages;
    private string searchTerm = "";

    protected override async Task OnInitializedAsync()
    {
        await LoadDirectors();
    }

    private async Task LoadDirectors()
    {
        var response = await DirectorService.GetDirectorsAsync(currentPage);
        if(response != null)
        {
            directors = response.Content;
            totalPages = response.TotalPages;
        }
    }

    private async Task PreviousPage()
    {
        if (currentPage > 1)
        {
            currentPage--;
            await LoadDirectors();
        }
    }
    private async Task NextPage()
    {
        currentPage++;
        await LoadDirectors();
    }

    private async Task Search()
    {
        currentPage = 1;
        var response = await DirectorService.SearchDirectorsAsync(searchTerm, currentPage);
        if (response != null)
        {
            directors = response.Content;
            totalPages = response.TotalPages;
        }
    }
}
