﻿@using Microsoft.AspNetCore.Components.Authorization
<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(MauiProgram).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(Components.Layout.MainLayout)">
                <NotAuthorized>
                    You are not authorized
                </NotAuthorized>
                <Authorizing>
                    Please wait...
                </Authorizing>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <LayoutView Layout="@typeof(Components.Layout.MainLayout)">
                <p role="alert">Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>

    <ThemeSwitcher />
</CascadingAuthenticationState>

@code {
    @inject ThemeService ThemeService

    protected override void OnInitialized()
    {
        ThemeService.OnThemeChanged += RefreshTheme;
    }

    private void RefreshTheme()
    {
        StateHasChanged();
    }
}
